body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 140px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-size: 18px;
}

input[type="url"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    background-color: #1b1280;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background-color: #084e99;
}

.short-url {
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}

.short-url a {
    color: #007bff;
    text-decoration: none;
}

.short-url a:hover {
    text-decoration: underline;
}
